<li>
  <table>
    <caption>{{table-title}}</caption>
    {{#if colors}}
      <thead>
      <tr>
        <td>Name</td>
        <td>Color</td>
        <td>HEX</td>
        <td>RGB</td>
      </tr>
      </thead>
      <tbody>
      {{#each table-content}}
        <tr>
          <td>{{this.name}}</td>
          <td><span class="{{#if dark}}dark{{/if}}" style="background-color: {{this.color}};"></span></td>
          <td>{{this.color}}</td>
          <td>{{this.rgb-color}}</td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
    {{#if buttons}}
      <tbody>
      {{#each table-content}}
        <tr>
          <td>
            <div class="ui-buttons__container">
              {{#each this.states}}
                {{#ifCond this.state 'normal'}}
                  {{> ui/btn
                      button=true
                      label=this.state
                      color=this.color
                      outline=this.outline
                  }}
                {{else}}
                  {{> ui/btn
                      button=true
                      label=this.state
                      color=this.color
                      outline=this.outline
                      btn-mode=this.state
                      disabled=this.disabled
                  }}
                {{/ifCond}}
              {{/each}}
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
    {{#if form-items}}
      <tbody>
      {{#each table-content}}
        <tr>
          <td>
            {{#if ../inputs}}
              <div class="ui-inputs__container ui-inputs__container--row">
                {{> ui/form-item
                    input=true
                    field-label="Ваше имя"
                    placeholder="Иван Иван Иванович"
                }}
                {{> ui/form-item
                    input=true
                    field-label="Ваш пароль"
                    type="password"
                    placeholder="Не менее 6 символов"
                    error="Неверный пароль"
                }}
              </div>
            {{/if}}
            {{#if ../textarea}}
              <div class="ui-inputs__container">
                {{> ui/form-item
                    textarea=true
                    field-label="Ваше сообщение"
                    placeholder="Иван Иван Иванович"
                }}
              </div>
            {{/if}}
            {{#if ../radio}}
              <div class="ui-inputs__container ui-inputs__container--column">
                {{> ui/form-item
                    radio=true
                    id=1
                    name='radio-example'
                    label='Example label'
                }}
                {{> ui/form-item
                    radio=true
                    id=2
                    name='radio-example'
                    label='Example label'
                    checked=true
                }}
              </div>
            {{/if}}
            {{#if ../checkbox}}
              <div class="ui-inputs__container ui-inputs__container--column">
                {{> ui/form-item
                    checkbox=true
                    id=3
                    label='Example label'
                }}
                {{> ui/form-item
                    checkbox=true
                    id=4
                    label='Example label'
                    checked=1
                }}
              </div>
            {{/if}}
            {{#if ../switcher}}
              <div class="ui-inputs__container ui-inputs__container--column">
                {{> ui/form-item
                    switcher=true
                    id=5
                    aria-label='Example label'
                }}
                {{> ui/form-item
                    switcher=true
                    id=6
                    aria-label='Example label'
                    checked=1
                }}
              </div>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
    {{#if popups}}
      <tbody>
      {{#each table-content}}
        <tr>
          <td>
            <div class="ui-buttons__container">
              {{> ui/btn button=true size="small" color="primary" label=this.label popup="example"}}
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>
</li>
