<tr>
  <td class="js-copy-to-clipboard">{{this.name}}</td>
  <td class="js-copy-to-clipboard">
    <span class="uikit-colors__item {{#if dark}}dark{{/if}}" style="background-color: {{#if this.rgb}}{{this.rgb}}{{else}}{{this.hex}}{{/if}};"></span>
  </td>
  <td class="js-copy-to-clipboard">{{this.hex}}</td>
  <td class="js-copy-to-clipboard">{{this.rgb}}</td>
</tr>
