{{#if button}}
  <button type="{{#if type}}{{type}}{{else}}button{{/if}}"
          class="btn{{#if size}} btn--{{size}}{{/if}}{{#if color}} btn--{{color}}{{/if}}{{#if
              outline}} btn--{{outline}}-outline{{/if}}{{#if icon}} btn--icon{{/if}}{{#if
              btn-mode}} btn--{{btn-mode}}{{/if}}{{#if popup}} js-popup-open{{/if}}"
    {{#if popup}} data-popup="{{popup}}"{{/if}}
    {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
    {{#if disabled}} disabled aria-disabled="true"{{/if}}
    {{{attr}}}>{{#if icon}} {{>ui/svg name=icon}}{{/if}}{{label}}</button>
{{else}}
  <a href="{{#if href}}{{href}}{{else}}#{{/if}}"
     class="btn{{#if size}} btn--{{size}}{{/if}}{{#if color}} btn--{{color}}{{/if}}{{#if
         outline}} btn--{{outline}}-outline{{/if}}{{#if icon}} btn--icon{{/if}}{{#if
         btn-mode}} btn--{{btn-mode}}{{/if}}{{#if popup}} js-popup-open{{/if}}"
    {{#if popup}} data-popup="{{popup}}"{{/if}}
    {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
    {{#if disabled}} disabled aria-disabled="true"{{/if}}
    {{{attr}}}>{{#if icon}} {{>ui/svg name=icon}}{{/if}}{{label}}</a>
{{/if}}
