{{#if input}}
  <div class="form-field{{#if field-class}} {{field-class}}{{/if}}{{#if error}} form-error{{/if}}">
    {{#if field-label}}
      <label {{#if field-id}}for="{{field-id}}"{{/if}}
             class="form-field__label{{#if field-label-class}} {{field-label-mode}}{{/if}}">{{field-label}}</label>
    {{/if}}
    <input type="{{#if type}}{{type}}{{else}}text{{/if}}"
           class="form-field__input {{input-class}}"
      {{#if field-id}} id="{{field-id}}"{{/if}}
      {{#if field-name}} name="{{field-name}}"{{/if}}
      {{#if placeholder}} placeholder="{{placeholder}}"{{/if}}
      {{#if inputmode}} inputmode="{{inputmode}}"{{/if}}
      {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
      {{#if disabled}} disabled aria-disabled="true"{{/if}}/>
    {{#if error}}
      <span class="form-field__message">{{error}}</span>
    {{/if}}
  </div>
{{/if}}
{{#if checkbox}}
  <div class="form-checkbox{{#if field-class}} {{field-class}}{{/if}}">
    <label class="form-checkbox__label" {{#if field-id}}for="{{field-id}}"{{/if}}>
      <input type="checkbox"
             class="form-checkbox__input"
        {{#if field-id}} id="{{field-id}}"{{/if}}
        {{#if checked}} checked{{/if}}
        {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
        {{#if disabled}} disabled aria-disabled="true"{{/if}}>
      <span class="form-checkbox__icon-container"><i class="form-checkbox__icon"></i></span>
      {{label}}
    </label>
  </div>
{{/if}}
{{#if radio}}
  <div class="form-radio{{#if field-class}} {{field-class}}{{/if}}">
    <label class="form-radio__label" {{#if field-id}}for="{{field-id}}"{{/if}}>
      <input class="form-radio__input"
             type="radio"
             name="{{name}}"
        {{#if field-id}} id="{{field-id}}"{{/if}}
        {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
        {{#if checked}} checked="checked"{{/if}}>
      <span class="form-radio__icon"></span> {{label}}</label>
  </div>
{{/if}}
{{#if textarea}}
  <div class="form-field{{#if field-class}} {{field-class}}{{/if}}">
    {{#if label }}
      <label {{#if field-id}}for="{{field-id}}"{{/if}}
             class="form-field__label{{#if field-label-class}} {{field-label-mode}}{{/if}}">{{field-label}}</label>
    {{/if}}
    <textarea class="form-textarea{{#if textarea-class}} {{textarea-class}}{{/if}}"
      {{#if field-id}} id="{{field-id}}"{{/if}}
      {{#if field-name}} name="{{field-name}}"{{/if}}
      {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}
      {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
      {{#if disabled}} disabled aria-disabled="true"{{/if}}></textarea>
    {{#if error}}
      <span class="form-field__message">Error message</span>
    {{/if}}
  </div>
{{/if}}
{{#if select}}
  <div class="form-field{{#if field-class}} {{field-class}}{{/if}}">
    <label {{#if field-id}}for="{{field-id}}"{{/if}} class="form-field__label {{label-class}}">{{label}}</label>
    <select class="js-dropdown-box"
      {{#if field-id}} id="{{field-id}}"{{/if}}
      {{#if field-name}} name="{{field-name}}"{{/if}}
      {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
      {{#if placeholder}} data-placeholder="{{placeholder}}"{{/if}}>
      {{# times 5}}
        <option value="{{this}}">Example text {{this}}</option>
      {{/times}}
    </select>
  </div>
{{/if}}
{{#if switcher}}
  <div class="form-switcher{{#if field-class}} {{field-class}}{{/if}}">
    <input type="checkbox"
           class="form-switcher__input"
      {{#if field-id}} id="{{field-id}}"{{/if}}
      {{#if checked}} checked{{/if}}
      {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
      {{#if disabled}} disabled aria-disabled="true"{{/if}}>
    <label class="form-switcher__label" {{#if field-id}}for="{{field-id}}"{{/if}}>
      <span></span>
    </label>
  </div>
{{/if}}
