<div class="form-field {{field-class}}">
  {{#if label }}
    <label for="" class="form-label {{label-class}}">{{label}}</label>
  {{/if}}

  {{#if select}}
    <select class="js-dropdown-box" {{#if placeholder}}data-placeholder="{{placeholder}}"{{/if}}>
      {{# times 5}}
        <option value="{{this}}">Example text {{this}}</option>
      {{/times}}
    </select>
  {{else}}
    {{#if textarea}}
      <textarea class="form-area {{area-class}}"
        {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
        {{#if disabled}}disabled{{/if}}></textarea>

    {{else}}
      <input type="text"
             class="form-input {{input-class}}"
        {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
        {{#if value}}value="{{value}}" {{/if}}
        {{#if disabled}}disabled{{/if}} />
    {{/if}}

    {{#if error}}
      <span class="form-message">Error Error</span>
    {{/if}}
  {{/if}}
</div>