<div class="form-radio">
  <label class="form-radio__label" for="{{name}}_{{value}}">
    <input type="radio" {{#if checked}}checked{{/if}} id="{{name}}_{{value}}" name="{{name}}" value="{{value}}"/>
    <div class="form-radio__inner">{{{label}}}</div>
  </label>
</div>
