<div class="form-radio">
  <label class="form-radio__label" for="{{id}}">
    <input type="radio" {{#if checked}}checked{{/if}} id="{{id}}" name="{{name}}" value="{{value}}"/>
    <div class="form-radio__inner">
      <span class="form-radio__title">{{ label }}</span>
    </div>
  </label>
</div>
