<div class="img-container {{#if is-cover}}is-cover{{else if is-contain}}is-contain{{/if}} {{mix}}">
  <picture>
    {{# if static}}
      {{#if no-webp}}{{else}}
        <source data-srcset="../static/images/{{img}}.webp 1x,
                         ../static/images/{{img}}@2x.webp 2x"
                type="image/webp">
      {{/if}}
      <source data-srcset="../static/images/{{img}}.{{fallback-ext}} 1x,
                           ../static/images/{{img}}@2x.{{fallback-ext}} 2x"
              {{#ifCond fallback-ext 'png'}}type="image/png"{{else ifCond fallback-ext 'jpg'}}type="image/jpeg"{{/ifCond}}>
      <source data-srcset="../static/images/{{img}}.{{fallback-ext}}">
      <img class="lazy"
           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           alt="">
    {{else if content}}
      {{#if no-webp}}{{else}}
        <source data-srcset="../content/images/{{img}}.webp 1x,
                         ../content/images/{{img}}@2x.webp 2x"
                type="image/webp">
      {{/if}}
      <source data-srcset="../content/images/{{img}}.{{fallback-ext}} 1x,
                           ../content/images/{{img}}@2x.{{fallback-ext}} 2x"
              {{#ifCond fallback-ext 'png'}}type="image/png"{{else ifCond fallback-ext 'jpg'}}type="image/jpeg"{{/ifCond}}>
      <source data-srcset="../content/images/{{img}}.{{fallback-ext}}">
      <img class="lazy"
           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           alt="">
    {{/if}}
  </picture>
</div>