<div class="img-container {{#if is-cover}}is-cover{{else if is-contain}}is-contain{{/if}} {{mix}}">
  <picture>
    {{# if static}}
      {{#if no-webp}}{{else}}
        <source data-srcset="../static/images/{{img}}.webp 1x,
                         ../static/images/{{img}}@2x.webp 2x"
                type="image/webp">
      {{/if}}
      <source data-srcset="../static/images/{{img}}.{{fallback-ext}} 1x,
                           ../static/images/{{img}}@2x.{{fallback-ext}} 2x">
      <img class="lazy"
        {{#if no-lowres}}{{else}}
           data-lowsrc="../static/images/{{img}}@low.{{fallback-ext}}"
        {{/if}}
           data-original="../static/images/{{img}}.{{fallback-ext}}"
           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           alt="">
    {{else if content}}
      {{#if no-webp}}{{else}}
        <source data-srcset="../content/images/{{img}}.webp 1x,
                         ../content/images/{{img}}@2x.webp 2x"
                type="image/webp">
      {{/if}}
      <source data-srcset="../content/images/{{img}}.{{fallback-ext}} 1x,
                           ../content/images/{{img}}@2x.{{fallback-ext}} 2x">
      <img class="lazy"
        {{#if no-lowres}}{{else}}
           data-lowsrc="../content/images/{{img}}@low.{{fallback-ext}}"
        {{/if}}
           data-original="../content/images/{{img}}.{{fallback-ext}}"
           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           alt="">
    {{/if}}
  </picture>
</div>